Flask==2.3.3
Flask-Session==0.4.0
numpy==2.1.1
pandas==2.2.2
scikit-learn==1.4.2
gunicorn==21.2.0

torch --index-url https://download.pytorch.org/whl/cpu
flask
numpy
scikit-learn
sentence-transformers
transformers
torch

