Flask==2.3.3
Flask-Session==0.4.0
gunicorn==21.2.0

numpy==2.1.1
pandas==2.2.3
scikit-learn==1.5.2

sentence-transformers==2.6.1
transformers==4.40.0

torch==2.4.0 --index-url https://download.pytorch.org/whl/cpu
